<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Kevin McCallister&#39;s Grocery List</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div ng-app="simpleList" ng-controller="sort">
  <h2>Kevin's Grocery List</h2>

  <ul ui-sortable="options" ng-model="list" class="list">
    <li ng-repeat="item in list" class="item">
      {{item.name}}
    </li>
  </ul>
</div>
<!-- partial -->
  <script src='https://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.2,angular.ui-sortable'></script><script  src="./script.js"></script>

</body>
</html>
